.cartt {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 30vh;
}
.cart h1{
  text-align: center;
  color: rgb(214, 214, 214);
  background: black;
}
.cart{
  background-color: rgb(246, 246, 246);
  margin-bottom: 190px;
}
.cartItem {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgb(85, 147, 246);
  padding: 90px;
  width: 100%;
  
}

.flexing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cartItem img {
  width: 300px;
  height: 30vh;
  object-fit: contain;
  margin-right: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  margin-bottom: 80px;
}
.productName b{
  color: black;
}

.productName {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  color: black;
}

.productPrice {
  font-size: 16px;
  color: black;
}
.price{
  color: black;
}
.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.countHandler {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
}

.btn1,
.btn2 {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0px 5px;
}
.btn3{
  border: none;
  background: transparent;
  color: #ccc;
  font-size: 12px;
  margin-right: 80px;
}
input {
  border: none;
  text-align: center;
  width: 30px;
  font-size: 13px;
  font-weight: bold;
}
.total{
  color: black;
  font-family: 'Quicksand';
  float: left;
  font-weight: 600;
}
.flex{
  padding: 38px;
  float: right;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-right: 60px;
  justify-content: right;
}
.note{
  color: #ccc;
  font-size: 9px;
}
.check{
  float: left;
  background-color: rgb(85, 147, 246);
  border: none;
  font-size: 13px;
  font-family: 'Quicksand';
  font-weight: 500;
  border-radius: 3px;
  margin-bottom: 10px;
  color: white;
  padding: 8px;
  float: right;
}

.clearCart{
  float: inline-start;
  justify-content: left;
  background: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: 'Quicksand';
  font-size: 12px;
  padding: 6px;
  font-weight: 400;
  width: 100px;
  float: left;
  margin-top: 40px;
  margin-left: 90px;
}

.continueShopping{
  border: none;
  background: transparent;
  font-size: 12px;
  font-family: 'Quicksand';
  color: rgb(93, 92, 92);
  margin-right: 40px;
  float: right;
}
.checkout{
  margin-bottom:  30px;
}