.Payment-body{
  background: linear-gradient(45deg, rgba(85, 147, 246) 0%, rgb(60, 130, 243));
 min-height: 100vh;
}
.Payment-body h2{  

  color: White;
  text-align: center;
}
.paymentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 500px;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paymentForm label {
  margin: 0.5rem 0;
}

.paymentForm input[type="text"],
.paymentForm input[type="email"],
.paymentForm input[type="tel"],
.paymentForm input[type="number"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.paymentForm button[type="submit"] {
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background:rgb(85, 147, 246);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.paymentForm button[type="submit"]:hover {
  background-color: rgb(25, 107, 240);
}
